{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    

    <!-- Page content -->
    <div class="row bg-white">
      <img src="/static/assets/img/theme/banner-heada-green.png" class="img-fluid banner-image-head" alt="...">
      <div class="col-md-4 text-left ml-1 align-middle">
        <h1 class="text-banner-head bg-white ">Meet Our Team</h1>
      </div>
    </div>
    <!-- IMAGE GALLERY 
    <div class="row bg-white justify-content-center">
      <div class="col-sm-3">
        <div class="card2">
          <img src="/static/assets/img/theme/MSQ-Staff-Portraits_025.jpg" class="card-img-top" alt="...">
          <div class="card-body bg-default">
            <p class="card-text text-white text-sm">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    
      <div class="col-sm-3 ">
        <div class="card2">
          <img src="/static/assets/img/theme/MSQ-Staff-Portraits_025.jpg" class="card-img-top" alt="...">
          <div class="card-body bg-default">
            <p class="card-text text-white text-sm">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    
      <div class="col-sm-3 ">
        <div class="card2">
          <img src="/static/assets/img/theme/MSQ-Staff-Portraits_025.jpg" class="card-img-top" alt="...">
          <div class="card-body bg-default">
            <p class="card-text text-white text-sm">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      -->
     
    <!-- IMAGE GALLERY ANIMATION ZOOM 
      <div class="row no-gutters mb-5 bg-white">
        <div class="col-md-10 mx-auto">
          <div class="col mx-auto justify-content-center">
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/MSQ-Staff-Portraits_025.jpg"
                alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title">Colombia</h2>
                  <p class="card3__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                    labore laudantium deserunt fugiat numquam.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col mx-auto justify-content-center">
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/MSQ-Staff-Portraits_025.jpg"
                alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title">Colombia</h2>
                  <p class="card3__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                    labore laudantium deserunt fugiat numquam.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
   
      
    <div class="container ml--5">
      <!-------------------- GM  -------------------->
      <div class="row">
        <h1 class="card3-man-title">General Manager HRD</h1>
      </div>
      <div class="row ml-4" >
        <div class="col-md-4  mx-auto layout-nogutters">
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdendah.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Endah Ermasari</span> <br>
                    General Manager HRD
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------- END GM -------------------->

      <!-------------------- MANAGER -------------------->
      <div class="row" style="margin-top: -430px;">
        <h1 class="card3-man-title">Manager HRD</h1>
      </div>
      <div class="row ml-4">
        <div class="col-md-4  mx-auto layout-nogutters">
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdfaisal.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Faisal Roza</span> <br>
                    Manager HRD
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------- END MANAGER -------------------->
  
      <!-------------------- RECRUITMENT -------------------->
      <div class="row" style="margin-top: -450px;">
        <h1 class="card3-man-title">Recruitment and Selection</h1>
        <div class="col-md-10 mx-auto layout-nogutters">
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdlucky.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <!-- <h2 class="card3__title">Lucky</h2> -->
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Lucky</span> <br>
                    Spv Recruitment and Seletion
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdrieta.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Rieta</span> <br>
                    Recruitment and Seletion
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdanisah.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Anisah</span> <br>
                    Recruitment and Seletion
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------- END RECRUITMENT -------------------->
  
  
      <!-------------------- TRAINING -------------------->
      <div class="row" style="margin-top: -430px;">
        <h1 class="card3-man-title">Training and Development</h1>
        <div class="col-md-10 mx-auto layout-nogutters">
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdari.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Taufik Ari</span> <br>
                    Spv Training and Development
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdpuspa.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Puspa</span> <br>
                    Training and Development
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdboby.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Boby</span> <br>
                    Training and Development
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdhusni.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Husni</span> <br>
                    Training and Development
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------- END TRAINING -------------------->
  
      <!-------------------- LEGAL -------------------->
      <div class="row " style="margin-top: -430px;">
        <h1 class="card3-man-title">Legal and Industrial Relationship</h1>
        <div class="col-md-10 mx-auto layout-nogutters">
          
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdgilang.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Gilang</span> <br>
                    Spv Legal and Industrial Relationship
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdbayu.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Bayu</span> <br>
                    Legal and Industrial Relationship
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdmira.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Mira</span> <br>
                    Legal and Industrial Relationship
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------- END LEGAL -------------------->
  
      <!-------------------- MEDICAL & WELFARE -------------------->
      <div class="row " style="margin-top: -430px;">
        <h1 class="card3-man-title">Medical & Welfare</h1>
        <div class="col-md-10 mx-auto layout-nogutters">
          
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdlinda.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Linda</span> <br>
                    Spv Medical & Welfare
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdrizkia.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Rizkia</span> <br>
                    Medical & Welfare
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Rudi</span> <br>
                    Medical & Welfare
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdwisna.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Wisna</span> <br>
                    Medical & Welfare
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdtania.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Tania</span> <br>
                    Medical & Welfare
                  </p>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
      <!-------------------- END MEDICAL & WELFARE -------------------->

      <!-------------------- PAYROLL & ADMINISTRATION -------------------->
      <div class="row " style="margin-top: -430px;">
        <h1 class="card3-man-title">Payroll & Administration</h1>
        <div class="col-md-10 mx-auto layout-nogutters">
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdsekar.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Sekar</span> <br>
                    Payroll & Administration
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdmanda.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Amanda</span> <br>
                    Payroll & Administration
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdera.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Era</span> <br>
                    Payroll & Administration
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Milla</span> <br>
                    Payroll & Administration
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row " style="margin-top: -500px;">
        <div class="col-md-10 mx-auto layout-nogutters">
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Ana</span> <br>
                    Payroll & Administration
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdzahra.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Zahra</span> <br>
                    Payroll & Administration
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!-------------------- END PAYROLL & ADMINISTRATION -------------------->

    </div>
    

      <a id="scrollToTop" href="#" title="Go to top"><i class="ni ni-bold-up"></i></a>

    {% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
